<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Upload file</title>
		{% load staticfiles %}
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	</head>

	<body>

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "edit" %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="soundId" value="{{form.soundId}}" />
			<p>{{form.memo.label_tag}}  {{form.memo}}</p>
			<p>{{form.bookUrl.label_tag}}  {{form.bookUrl}}</p>
			<p><input type="submit" value="Edit" /></p>
		</form>
		
	</body>

</html> 