<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>一分钟读书会</title>
		{% load staticfiles %}
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "css/signin.css" %}" rel="stylesheet">
	</head>

	<body>
     <div class="blog-masthead">
          <div class="container">
            <nav class="blog-nav">
              <a class="blog-nav-item" href="{% url 'list' %}">读书会</a>
               <a class="blog-nav-item" href="http://www.douban.com/group/topic/47693021/" target="_blank">About</a>
            </nav>
          </div>
        </div>
		<br>
		<br>
		<!-- Upload form. Note enctype attribute! -->
		<form class="form-horizontal" action="{% url "edit" %}" method="post" role="form" class="form-horizontal">
			{% csrf_token %}
			<input type="hidden" name="soundId" value="{{form.soundId}}" />
			<div class="form-group">
			  <label  class="col-sm-2 control-label">备注</label>
             <div class="col-sm-10">
			{{form.memo}}
		     </div>
            </div>
			<div class="form-group">
			<label  class="col-sm-2 control-label">豆瓣url</label>
             <div class="col-sm-10">
			{{form.bookUrl}}
		    </div>
			</div>
			<div class="form-group">
	          <div class="col-sm-offset-2 col-sm-10">
	            <button type="submit" class="btn btn-primary">修改</button>
	          </div>
	        </div>
		</form>
		</div>
	</body>

</html> 