<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />

<!-- Website Design By: www.happyworm.com -->
<title>读书会--{{sound.memo}}({{sound.reader.username}})</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load staticfiles %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/signin.css" %}" rel="stylesheet">
<link href="{% static 'css/circle.skin/circle.player.css' %}" rel="stylesheet">
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.jplayer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.transform2d.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.grab.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mod.csstransforms.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/circle.player.js' %}"></script>

<script type="text/javascript">
//<![CDATA[

$(document).ready(function(){

	/*
	 * Instance CirclePlayer inside jQuery doc ready
	 *
	 * CirclePlayer(jPlayerSelector, media, options)
	 *   jPlayerSelector: String - The css selector of the jPlayer div.
	 *   media: Object - The media object used in jPlayer("setMedia",media).
	 *   options: Object - The jPlayer options.
	 *
	 * Multiple instances must set the cssSelectorAncestor in the jPlayer options. Defaults to "#cp_container_1" in CirclePlayer.
	 *
	 * The CirclePlayer uses the default supplied:"m4a, oga" if not given, which is different from the jPlayer default of supplied:"mp3"
	 * Note that the {wmode:"window"} option is set to ensure playback in Firefox 3.6 with the Flash solution.
	 * However, the OGA format would be used in this case with the HTML solution.
	 */

	var myCirclePlayer = new CirclePlayer("#jquery_jplayer_1",
	{
		// m4a: "http://www.jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
		// oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
		mp3:"{{ sound.soundfile.url }}"
	}, {
		cssSelectorAncestor: "#cp_container_1",
		swfPath: "js",
		wmode: "window",
		supplied: "mp3,oga,m4a",
		keyEnabled: true
	});
});
//]]>
</script>
</head>
<body>
	{% include 'nav.html' %}
		
<div class="container">
		<!-- The jPlayer div must not be hidden. Keep it at the root of the body element to avoid any such problems. -->
			<div id="jquery_jplayer_1" class="cp-jplayer"></div>

			<!-- The container for the interface can go where you want to display it. Show and hide it as you need. -->

			<div id="cp_container_1" class="cp-container">
				<div class="cp-buffer-holder"> <!-- .cp-gt50 only needed when buffer is > than 50% -->
					<div class="cp-buffer-1"></div>
					<div class="cp-buffer-2"></div>
				</div>
				<div class="cp-progress-holder"> <!-- .cp-gt50 only needed when progress is > than 50% -->
					<div class="cp-progress-1"></div>
					<div class="cp-progress-2"></div>
				</div>
				<div class="cp-circle-control"></div>
				<ul class="cp-controls">
					<li><a class="cp-play" tabindex="1">play</a></li>
					<li><a class="cp-pause" style="display:none;" tabindex="1">pause</a></li> <!-- Needs the inline style here, or jQuery.show() uses display:inline instead of display:block -->
				</ul>
			</div>
		<br>
		<div class="media">
			<!-- <span><audio src="{{ sound.soundfile.url }}" preload="auto" /></span> -->
			<div class="media-body">
		      <blockquote>{{sound.memo}}  <footer>{{sound.reader.username}}</footer></blockquote>
		    </div>
		</div>
		<hr>
		<div class="panel panel-default">
		 <div class="panel-heading">
		    <h3 class="panel-title">评论</h3>
		  </div>
		     {% if comments %}
		     <ul class="list-group">
			     {% for comment in comments %}
			     <li class="list-group-item">
			     	<h4>{{comment.commenter.username}}:</h4>
			     	<p class="text-justify">{{comment.content}}</p>
			     	{% ifequal comment.commenter request.user %}
			     	<p class="text-right"><a href="/sound/removeComment/{{comment.id}}"><span class="glyphicon glyphicon-trash"></span></a></p>
			     	{% else %}
				     	{% ifequal sound.reader request.user %}
				     	<p class="text-right"><a href="/sound/removeComment/{{comment.id}}"><span class="glyphicon glyphicon-trash"></span></a></p>
				     	{% endifequal %}
			     	{% endifequal %}
			     </li>
			     {% endfor %}
			 </ul>
		     {% else %}
				<p>No comments.</p>
			{% endif %}
		</div>
		{% if request.user.is_authenticated %}
		<div >
		<form  class="form-horizontal" action="{% url 'addComment' %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="soundId" value="{{sound.id}}" />
		<div class="form-group col-sm-8">
         <textarea name="content" class="form-control" rows="3" required></textarea>
        </div>

		 <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-primary">评 论</button>
           <a href="{% url 'list' %}" class="btn btn-primary" role="button">返 回</a>
          </div>
        </div>
		</form>
		</div>
		{% else %}
		<div>
			<p class="bg-success">登录后才能评论 :) 
				<br>
				<br>
			向<a href="http://weibo.com/halfg0d">@王半山人</a>索要注册邀请码</p>
		</div>
		{% endif %}
		</div>
</body>

</html>
