<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>一分钟读书会</title>
		{% load staticfiles %}
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	</head>

	<body>
        <div class="container">
		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.soundfile.label_tag }} {{ form.soundfile.help_text }}</p>
			<p>
				{{ form.soundfile.errors }}
				{{ form.soundfile }}
			</p>
			<p>{{ form.memo.errors }} {{form.memo.label_tag}}  {{form.memo}}</p>
			<p>{{form.bookUrl.label_tag}}  {{form.bookUrl}}</p>
			<p><input type="submit" value="上传" class="btn btn-primary"/></p>
		</form>
		</div>
	</body>

</html> 