<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>一分钟读书会</title>
		{% load staticfiles %}
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "css/signin.css" %}" rel="stylesheet">
	</head>

	<body>
        <div class="container">
		<!-- Upload form. Note enctype attribute! -->
		<form  class="form-horizontal" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
		<div class="form-group">
          <label  class="col-sm-2 control-label">声音文件</label>
          <div class="col-sm-10">
            <input id="id_soundfile" name="soundfile" type="file" accept=".mp3,.amr" required/>
          </div>
        </div>

        <div class="form-group">
          <label  class="col-sm-2 control-label">备注</label>
          <div class="col-sm-10">
             <input id="id_memo" maxlength="140" name="memo" type="text" required autofocus/>
          </div>
        </div>
        <div class="form-group">
          <label  class="col-sm-2 control-label">豆瓣url</label>
          <div class="col-sm-10">
            <input id="id_bookUrl" name="bookUrl" type="url" />
          </div>
        </div>
         <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">上传</button>
          </div>
        </div>
		</form>
		</div>
	</body>

</html> 