<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
   <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">
   <h1>404 <small>Sorry，没找到你想要的</small></h1>
   <!-- <img src="{% static 'img/notfound.jpg' %}" alt="..." class="img-rounded"> -->

  <div class="media">
  <div class="pull-right">
    <img class="media-object" src="{% static 'img/notfound.jpg' %}" alt="...">
    <div class="footer"><h1><small>此广告位招租，免费发布各类征婚广告^_^ <a href="http://weibo.com/halfg0d">@王半山人</a></small></h1></div>
  </div>
  <div class="media-body">
    <p class="text-left"><h4 class="media-heading">偶 然</h4></p>
    <p class="text-left">我是天空里的一片云，</p>
　　<p class="text-left">偶尔投影在你的波心－－</p>
　　<p class="text-left">你不必讶异，</p>
　　<p class="text-left">更无须欢喜－－</p>
　　<p class="text-left">在转瞬间消灭了踪影。</p>
　　<p class="text-left">你我相逢在黑夜的海上，</p>
　　<p class="text-left">你有你的，我有我的，方向；</p>
　　<p class="text-left">你记得也好，</p>
　　<p class="text-left">最好你忘掉，</p>
　　<p class="text-left">在这交会时互放的光亮！</p>
  </div>

</div>
  </div>
  </body>
</html>